<div id="pod-page" >
    <div id="pod-app-tools">
        <app-pod-app-tools 
            [GLOBAL_EVENTS]="GLOBAL_EVENTS"
            (FILE_ACTIONS)="onFileActionReceived($event)"
        ></app-pod-app-tools>
    </div>
    <div id="pod-tools">

    </div>

    <div id="pod-features">
        <mat-button-toggle-group #featureGroup="matButtonToggleGroup"
            (change)="onFeatureChanged(featureGroup.value)" 
            class="container" name="features" aria-label="Pod Features" value="MOVE">
            <mat-button-toggle value="MOVE" ><img src="assets/icons/feature_move.png" width="16px" height="16px"></mat-button-toggle>
            <mat-button-toggle value="BRUSH"><img src="assets/icons/feature_brush.png" width="16px" height="16px"></mat-button-toggle>
            <mat-button-toggle value="ERASER"><img src="assets/icons/feature_eraser.png" width="16px" height="16px"></mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div id="pod" #pod>
        <app-pod-document-controller [podDocumentsSubscription]="podDocumentsSubscription"></app-pod-document-controller>
        <app-new-pod-window *ngIf="shouldShowNewPodWindow()" (action)="onNewPodWindowAction($event)" [podDocuments]="podDocuments"></app-new-pod-window>
    </div>

    <div id="pod-right-pane">
        <color-picker [GLOBAL_EVENTS]="GLOBAL_EVENTS" (selectedColor)="FEATURE_INFO?.setBrushColor($event)"></color-picker>
    </div>

</div>