<div id="pod-page" (keydown.space)="onSpacebarPressed()" (keyup.space)="onSpacebarReleased()">
    <div id="pod-app-tools">

    </div>
    <div id="pod-tools">

    </div>

    <div id="pod-features">
        <mat-button-toggle-group #featureGroup="matButtonToggleGroup"
            (change)="onFeatureChanged(featureGroup.value)" 
            class="container" name="features" aria-label="Pod Features">
            <mat-button-toggle value="MOVE"><img src="assets/codible_256.png" width="16px" height="16px"></mat-button-toggle>
            <mat-button-toggle value="BRUSH">B</mat-button-toggle>
            <mat-button-toggle value="ERASER">C</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div id="pod" #pod
        (mousemove)="onMouseMoveOnPodDiv($event, pod)"
         >
        <div id="pod-layers">
            <app-layer *ngFor="let layer of layers" [layer]="layer" [selectedPodFeature]="selectedPodFeature"></app-layer>
        </div>
        <div id="pod-footer">

        </div>
        <span id="pod-cursor"></span>
    </div>
    <div id="pod-right-pane">

    </div>

</div>