#pod-page {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 3em 1fr 20em;
    grid-template-rows: 2em 3em 1fr;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}

#pod-app-tools {
    grid-column: 1 / 4;
    grid-row: 1;
    border-color: transparent transparent var(--primary-color-dark) transparent;
    border-style: solid;
    border-width: 1px;

}


#pod-tools {
    grid-column: 1 / 4;
    grid-row: 2;
    border-color: transparent transparent var(--primary-color-dark) transparent;
    border-style: solid;
    border-width: 1px;
}

#pod-features {
    border-color: transparent var(--primary-color-dark) transparent transparent;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    padding: 3px;
}
#pod-features .container {
    display: grid;
    grid-template-columns: 1fr;
}
mat-button-toggle-group {
    border: none;
}

mat-button-toggle-group mat-button-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    color: white;
    background-color: transparent;
}


.mat-button-toggle-checked {
    background-color: var(--primary-color-dark) !important;
}

.mat-button-toggle-input {
    background-color: transparent !important;
}

#pod-right-pane {
    border-color: transparent transparent transparent var(--primary-color-dark);
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

#pod {
    background-color: var(--primary-color-dark);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
/*

#pod-cursor {
    position: absolute;
    mix-blend-mode: difference;
    pointer-events: none;

}

#pod-layers {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

*/



