<div class="pod-document-content">
    <div #podDocContentContainer class="pod-document-content-container">

        <div #canvasContainer
            class="pod-document-content-canvas-container">
            <div #canvasFrameContainer class="canvas-frame-container">
                <canvas class="effects-canvas" style="visibility: hidden; opacity: 0;"></canvas>
                <canvas class="bottom-canvas"></canvas>
                <canvas class="draw-canvas"></canvas>
                <canvas class="top-canvas"></canvas>
            </div>
            
        </div>

        <pod-feature-context-menu
            [FEATURE_INFO]="FEATURE_INFO"
            [currentFeature]="selectedPodFeature"
            [container]="RENDER_ACTIONS?.getCanvasContainer()"
        ></pod-feature-context-menu>
        
        <div id="pod-document-cursor"></div>

    </div>
    <div class="pod-document-content-footer">
        <input class="pod-document-zoom-indicator-input" [value]="activePodDocument?.getZoomPercent()" maxlength="8"/>
    </div>
</div>

