<div class="pod-document-content">
    <div #podDocContentContainer class="pod-document-content-container"
        (mousedown)="CONTENT_CONTAINER_onMouseDown($event)"
    >

        <div 
            #canvasFrame
            class="pod-document-content-canvas-container"
            (mousemove)="CANVAS_CONTAINER_onMouseMove($event)"
            (mouseout)="CANVAS_CONTAINER_onMouseOut($event)"
            (mousedown)="CANVAS_CONTAINER_onMouseDown($event)"
            (mouseup)="CANVAS_CONTAINER_onMouseUp($event)">
            <div id="pod-document-canvas-frame"
            (mousemove)="CANVAS_FRAME_onMouseMove($event)"
            >
                <canvas class="test-canvas" 
                    width="1000"
                    height="1000"
                ></canvas>
            </div>
        </div>

        <pod-feature-context-menu
            [FEATURE_INFO]="FEATURE_INFO"
            [currentFeature]="selectedPodFeature"
            [container]="podDocContentContainer"
        ></pod-feature-context-menu>
        
        <div id="pod-document-cursor"></div>

    </div>
    <div class="pod-document-content-footer">
        
    </div>
</div>

