<div class="pod-document-controller">
    <div class="pod-document-controller-tab-bar">
        <div class="tab-bar-tab-container">
            <div *ngFor="let podDocument of podDocuments; index as i;"  [ngClass]="{'tab': true, 'active-tab': isActiveTab(i)}"  >
                <div class="tab-title-container"><span class="tab-title" (click)="onTabClick(i)">{{podDocument?.metaData.docName}}</span></div>
                <div class="tab-icon-container"><span class="tab-icon" (click)="onDeleteTabClick(i)">x</span></div>
            </div>
        </div>

        <div class="tab-bar-more-icon">

        </div>
    </div>
    <div class="controller-content">
        <app-pod-document 
        [FEATURE_INFO]="FEATURE_INFO"
        [selectedPodFeatureSubscription]="selectedPodFeatureSubscription"
        [activePodDocumentSubscription]="activePodDocumentSubscription"
        [activeLayerSubscription]="activeLayerSubscription"
        [droppedImageFileSubscription]="droppedImageFileSubscription"
        [GLOBAL_EVENTS]="GLOBAL_EVENTS"></app-pod-document>
    </div>

</div>