<div id="pod-window">
    <div id="pod-window-box-1">
        <span class="pod-window-template-title">Templates</span>
        <app-pod-preset *ngFor="let preset of presets; index as i" 
        [preset]="preset" [selected]="i == selectedPresetIndex"
        (click)="onPresetClick(i)"
        (value)="onPresetValueReceived($event)">
        </app-pod-preset>
    </div>
    <div id="pod-window-box-2">
        <!--Pod Title Input-->
        <input id="pod-window-title-input" class="pod-title-input" placeholder="Untitled" value="Untitled">

        <div class="label"><span>Width</span></div>
        <span></span>

        <input (change)="onMetricsClick()" id="pod-window-width-input" class="themed-input" type="number" min="1" max="maxDimensions" value="1">
        <select id="pod-window-metrics-select" class="themed-input" name="pod-window-metrics-select"
            (click)="onMetricsClick()">
            <option value="px">Pixels</option>
            <option value="in">Inches</option>
        </select>

        <div class="label"><span>Height</span></div>
        <span></span>

        <input (change)="onMetricsClick()" id="pod-window-height-input" class="themed-input" type="number" min="1" max="maxDimensions" value="1">
        <span></span>

        <div class="label"><span>Pixels/Inch</span></div>
        <span></span>
        <input [disabled]="shouldNotDisplayPPIInput()" (change)="onMetricsClick()" id="pod-window-ppi-input" class="themed-input" type="number" min="1" max="maxPPI" value="1">
    </div>
    <div id="pod-window-box-3">

    </div>
    <div id="pod-window-box-4">
        <button (click)="onCreateClick()" class="round-button primary-button" style="margin-right: 1em;">Create</button>
        <button [disabled]="!hasPodDocuments()" (click)="onCloseClick()" class="round-button secondary-button">Close</button>
    </div>
</div>