<div id="pod-window">
    <div style="background-color: yellow;">

    </div>
    <div id="pod-window-box-2">
        <!--Pod Title Input-->
        <div>
            <input class="pod-title-input" placeholder="Untitled" value="Untitled">
        </div>
        <div>
            
        </div>
    </div>
    <div style="background-color: orange;">

    </div>
    <div id="pod-window-box-4" >
        <button class="round-button primary-button" style="margin-right: 1em;">Create</button>
        <button class="round-button secondary-button">Close</button>
    </div>
</div>