.layers-window-layers-tab {
    display: grid;
    grid-template-rows: 1.8em 1.8em 1.8em 1fr 1.8em;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
}
.layers-tab-toolbar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.layers-tab-toolbar:nth-child(1) {
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent var(--primary-color-dark) transparent;
}
.layers-tab-toolbar:nth-child(2) {
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent var(--primary-color-dark) transparent;
}
.layers-tab-toolbar:nth-child(3) {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}


.layers-tab-toolbar:nth-child(5) {
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color-dark) transparent transparent transparent;
    padding: 0 1em;
}

.layers-tab-icon {
    width: 16px;

    cursor: pointer;
    border: 1px solid var(--primary-color);
    padding: 0.3em;
}

.layers-tab-icon:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color-accent);
}

.layers-tab-layer-section {
    position: relative;
    background-color: var(--primary-color-accent-1);
}

.layers-tab-layer-section-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.layer {
    display: grid;
    grid-template-columns: 2.5em 2.5em 1fr;
    border-color: transparent transparent var(--primary-color-accent) transparent;
    border-style: solid;
    border-width: 1px;
  
}

.layer-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-color: transparent var(--primary-color-accent) transparent transparent;
    border-width: 1px;
    border-style: solid;
    cursor: grab;
}


.layer input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: .5em 1em;
    cursor: pointer;
}

.active-layer {
    background-color: var(--primary-color-light-1);
}


.layer-snapshot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1em;
    overflow: hidden;
    border: 1px dashed var(--primary-color-dark);
}

.active-layer-snapshot {
    border: 1px dashed white;
}
.layer-snapshot {
    width: auto;
    height: auto;
    max-width: 2.5em;
    max-height: 2em;
    background-image: url("../../../assets/transparent_bg.jpg");
    background-repeat: repeat;

}

.layer-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}