<div class="layers-window-layers-tab">
    <div class="layers-tab-toolbar"></div>

    <div class="layers-tab-toolbar"></div>

    <div class="layers-tab-toolbar"></div>

    <div class="layers-tab-layer-section">
        <div class="layers-tab-layer-section-container">
            <div [ngClass]="{'layer': true, 'active-layer': isActiveLayer(layer), 'layer-dragging': dragging}"
                *ngFor="let layer of activePodDocument?.getLayers(); index as i;" (mouseup)="onLayerMouseUp(layer)">

                <div class="layer-icon-container" (click)="onToggleLayerVisibilityClick(layer)">
                    <img [src]="layer?.getVisibilityIconSrc()" width="16" height="16" draggable="false">
                </div>
                <div [ngClass]="{'layer-snapshot-container': true, 'active-layer-snapshot': isActiveLayer(layer)}">
                    <img class="layer-snapshot" [src]="layer?.snapshotImageSrc" draggable="false"
                        (click)="onLayerClick(layer)">
                </div>
                <div class="layer-name-container" (click)="onLayerClick(layer)">
                    <input #layerNameInput [value]="layer.name" draggable="false" (keyup)="onLayerNameInputTyped(layer, layerNameInput)"/>
                </div>
                <div class="layer-dragger-container" (mousedown)="onLayerDragIconClick(layer)">
                    <img src="assets/icons/layer_dragger.png" draggable="false">
                </div>
            </div>


        </div>
    </div>

    <div class="layers-tab-toolbar">
        <img class="layers-tab-icon" src="assets/icons/feature_group_layers.png">
        <img class="layers-tab-icon" (click)="onAddLayerClick()" src="assets/icons/feature_add_layer.png">
        <img class="layers-tab-icon" (click)="onDeleteLayerClick()" src="assets/icons/feature_delete_layer.png">
    </div>
</div>