<div id="pod-app-tools-comp">
    <img src="assets/codieble_256.png" width="16" height="16" style="margin: 0 .5em;">
    <div class="pod-tool-menu">
        <span (click)="onFileToolClick()" [ngClass]="{'active-pod-tool': fileToolActive()}">File</span>
        <div *ngIf="fileToolActive()" class="pod-tool-action-list">
            <div class="pod-tool-action-list-item" (click)="onFileActionItemClick('FILE')">
                <p>New</p>
                <p>{{getCtrlKeyText()}} + Alt + N</p>
            </div>
            <hr>
            <div class="pod-tool-action-list-item" (click)="onFileActionItemClick('ADD_IMAGE')">
                <p>Add Image</p>
            </div>
            <div class="pod-tool-action-list-item" (click)="onFileActionItemClick('SAVE_AS')">
                <p>Save As</p>
                <p>{{getCtrlKeyText()}} + Shift + S</p>
            </div>
        </div>
    </div>
    <div class="pod-tool-menu">
        <span (click)="onEditToolClick()">Edit</span>
        <div *ngIf="editToolActive()" class="pod-tool-action-list">
            <div class="pod-tool-action-list-item" (click)="onEditActionItemClick('UNDO')">
                <p>Undo</p>
                <p>{{getCtrlKeyText()}} + Z</p>
            </div>
            <div class="pod-tool-action-list-item" (click)="onEditActionItemClick('REDO')">
                <p>Redo</p>
                <p>{{getCtrlKeyText()}} + Y</p>
            </div>
        </div>
    </div>
    <div class="pod-tool-menu">
        <span><a>Policy</a></span>
    </div>
    <div class="pod-tool-menu">
        <span><a>About</a></span>
    </div>
    <div class="pod-tool-menu">
        <span (click)="onColorSchemeClick()">Color Scheme</span>
        <div *ngIf="colorSchemeActive()" class="pod-tool-action-list">
            <div class="pod-tool-action-list-item-with-icon" (click)="onDarkColorSchemeClick()">
                <div class="status-icon-container">
                    <img *ngIf="isDarkTheme()" src="assets/icons/check.png">
                </div>
                <p>Dark</p>
                <p></p>
            </div>
            <!--<div class="pod-tool-action-list-item-with-icon" (click)="onLightColorSchemeClick()">
                <div class="status-icon-container">
                    <img *ngIf="isLightTheme()" src="assets/icons/check.png">
                </div>
                <p>Light</p>
                <p></p>
            </div>-->
        </div>

    </div>
</div>